<ng-container class="main-container">
    <div  class="element">
        <!-- <img class="image-container" ngSrc="./../../../assets/main-image.jpg" width="100" height="502" alt=""> -->
    </div>
    
    <div class="grid-container">
    @if(characters$ | async; as characters){
        @for(character of characters; track character.id){
            @defer(on viewport){
                 <app-character-card 
                 [character] = "character"
                 [characterInfo] = "characterDetails[character.id]"
                 (loaded) = "makeCallApi($event)"/>
            } @placeholder{
                <div class="placeholder"></div>
            }
          
        }
    }
    </div>
</ng-container>
